<header>
    <h1><%= title || 'File Share'%></h1>

    <% if (session.userID) { %>
        <h3>Current User:
            <% if (session.username) { %>
                <%= session.username %>
            <% } else { %>
                username not stored in cache :(
            <% } %>
        </h3>
    <% } %>

    <h2>Navigation Buttons</h2>
    <nav class="nav-buttons">
        <button class="button" onclick="window.location.href='/upload'">Upload</button>
        <button class="button" onclick="window.location.href='/download'">Download</button>
        <button class="button" onclick="window.location.href='/search'">Search</button>
        <button class="button">Logout</button>
    </nav>
</header>