<!DOCTYPE html>
<header>
    <h1><%= title %></h1>
    <h2> Navigation Buttons </h2>
    <nav class="nav-buttons">
        <button class = "button" onclick="window.location.href = '/upload'">Upload</button>
        <button class = "button" onclick="window.location.href = '/download'">Download</button>
        <button class = "button" onclick="window.location.href = '/search'">Search</button>
    </nav>
</header>