<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
</head>
<body>
<h1> Search & Download Files</h1>
<button class="navButton" id="uploadButton"> Upload </button>
<button class="navButton" id="downloadButton"> Download </button>

<script>
    document.getElementById('uploadButton').addEventListener('click', goToUploadPage);
    document.getElementById('downloadButton').addEventListener('click', goToDownloadPage);

    function goToUploadPage() {
        console.log('goToUploadPage');
        window.location.href = '/upload'
    }

    function goToDownloadPage() {
        console.log('goToDownloadPage');
        window.location.href = '/download'
    }
</script>

</body>
</html>
