<%- include('partials/metadata', {lang: 'en', tabTitle: 'Download'}) %>
<body>
<%- include('partials/header', {title: 'Search & Browse Files'}) %>


<h2> Search </h2>
<input type="search" id="file-search" name="file-search" />
<button id="searchButton">Search</button>

<h2> Browse </h2>
<%- include('partials/file_display') %>

<script>
    document.getElementById('searchButton').addEventListener('click', goToSearchPage);

    function goToSearchPage() {
        const searchQuery = document.getElementById('file-search').value.trim();
        window.location.href = `/search?query=${encodeURIComponent(searchQuery)}`
    }
</script>

</body>
