<%- include('partials/metadata', {lang: 'en', tabTitle: 'Search'}) %>
<body>
<%- include('partials/header', {title: 'Search Files'}) %>

<h2> Search </h2>
<label for="file-search"></label><input type="search" id="file-search" name="file-search">
<button id="searchButton">Search</button>

<h2> Search Results </h2>
<%- include('partials/file_display') %>

<script>
    document.getElementById('searchButton').addEventListener('click', searchFiles);

    async function searchFiles() {
        const query = document.getElementById('file-search').value.trim();
        const res = await fetch(`/api/search?query=${encodeURIComponent(query)}`);
        const files = await res.json();

        const list = document.querySelector('ul');
        list.innerHTML = '';

        files.forEach(file => {
            const li = document.createElement('li');
            li.innerHTML = `${file.filename} <a href="/files/${file._id}/download">Download</a>`;
            list.appendChild(li);
        });
    }
</script>

</body>
