<%- include('partials/metadata', {lang: 'en', tabTitle: 'Upload'}) %>
<body>
<%- include('partials/header', {title: 'Submit a file for upload'}) %>

<% if (error) { %>
    <div class="error"><%= error %></div>
<% } %>

<% if (success) { %>
    <div class="success"><%= success %></div>
<% } %>

<form action="/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required />
    Optional file password for upload:
    <input type="password" name="password"/>
    <button type="submit">Submit</button>
</form>

<script>

</script>

</body>
